<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.application.idea.sourav.showcaseandroid">

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!--<activity android:name=".ui.base.BaseActivity" />-->
        <activity
                android:name=".ui.activitys.home.ScrollingActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activitys.infoAbout.AboutActivity"
                android:theme="@style/AboutTheme" />
        <activity
                android:name=".ui.activitys.horizontalscroll.PofileActivity"
                android:theme="@style/AppTheme.NoActionBarWhite" />
        <activity
                android:name=".ui.activitys.horizontalscroll.HorizontalScrollActivity"
                android:theme="@style/AppTheme.NoActionBarWhite" />

        <activity
                android:name=".ui.activitys.loginSignp.LoginSingUpActivity"
                android:theme="@style/AppTheme.NoActionBarWhite" />
        <activity
                android:name=".ui.activitys.loginSignp.SingUpActivity"
                android:theme="@style/SingUpTheme" />
        <activity
                android:name=".ui.activitys.SlidePanleActivity"
                android:theme="@style/AppTheme.NoActionBarWhite" />
        <activity
                android:name=".ui.activitys.NestCoordinateActivity"
                android:theme="@style/CollapsingTheme" />
        <activity
                android:name=".ui.activitys.GridCoordinateActivity"
                android:theme="@style/CollapsingTheme" />
        <activity
                android:name=".ui.activitys.loginSignp.CleanTapLoginActivtiy"
                android:theme="@style/CleanTapTheme" />
        <activity
                android:name=".ui.activitys.loginSignp.CleanTapCardLoginActivtiy"
                android:theme="@style/CleanTapTheme" />
        <activity
                android:name=".ui.activitys.ModernListActivity"
                android:theme="@style/CleanTapTheme" />
        <activity
                android:name=".ui.activitys.DateSelectionActivity"
                android:theme="@style/FullScreenTheme" />
        <activity
                android:name=".ui.activitys.IconTabActivity"
                android:theme="@style/CleanTapTheme" />
        <activity
                android:name=".ui.activitys.ScrollAnimActivity"
                android:theme="@style/FullScreenTheme" />
        <activity
                android:name=".ui.activitys.DrawableTestActivity"
                android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
                android:name=".ui.activitys.SimpleUiActivity"
                android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">

        </activity>
        <activity
                android:name=".ui.activitys.recycleSelection.MultiRecyclerActivity"
                android:theme="@style/AboutTheme" />
        <activity
                android:name=".ui.activitys.inputStyleEditor.InputStyleEditorActivity"
                android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
                android:name=".ui.activitys.inlineSelection.ScrollSelectorActivity"
                android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
   <activity
                android:name=".ui.activitys.profileDetails.ProfileDetailsActivity"
                android:theme="@style/ProfileTheme" />

    </application>

</manifest>
